body {
  background-image: url('https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
.App, .header {
  display: flex;
  justify-content: center;
}
.container {
  margin-top: 25px;
  width: 85%;
  height: 650px;
  background-color: rgba(167, 155, 155, 0.51);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-input, .container-list {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.main-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
}
input {
  width: 95%;
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
  font-family: 'Noto Sans JP', sans-serif;
  border: solid 2px rgba(0, 0, 0, 0.385);
}
button {
  margin-top: 30px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  border-radius: 15px;
  padding: 5px;
  width: 50%;
  border: solid 2px rgba(0, 0, 0, 0.385);
  color: rgb(250, 246, 246);
  text-shadow: 1px 1px black;
}
.btn-add {
  background-color: rgb(10, 187, 10);
  
}
.btn-clear {
  background-color: #ff0000;
}
.crossed {
  text-decoration: line-through 4px rgb(10, 187, 10);
  background-color: #f3df795a;
  border-radius: 15px;
  -webkit-text-decoration-line: line-through;
  -webkit-text-decoration-color: rgb(10, 187, 10);
  -webkit-text-decoration-thickness:4px;
}
ul, li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 25px;
}
h1 {
  font-family: 'Noto Sans JP', sans-serif;
  color: rgb(255, 255, 17);
  text-shadow: 2px 2px black;
  font-size: 35px;
}